/* ===========================Fonts====================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ==========================global styles========================= */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6c6c6c;
}

/* ======================Reusable styles===================== */
.btn {
  background-color: #e02c6d;
  color: #ffffff;
  padding: 10px 24px;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #ca193f;
}
.action-btn {
  display: inline-block;
  margin-top: 27px;
  transition: all 0.3s ease;
}
.action-btn:hover {
  transform: scale(0.9);
}
.action-btn i {
  margin-left: 8px;
}
img {
  width: 20%;
}

/* ================================header======================= */

header {
  background-color: #2d25a0;
  height: 677px;
}
.header-row {
  width: 1164px;
  margin: auto;
}

/* ============navbar=============*/
.hambar {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
}

.nav-links {
  display: flex;
}
.nav-links a {
  color: #ffffff;
  margin-right: 36px;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #ca193f;
}
.login-btn i {
  margin-right: 8px;
}

/* ===============Hero============ */

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 102px;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.hero-heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  color: #ffffff;
}

.hero-img {
  position: relative;
  z-index: 2;
}

.hero-img img {
  width: 100%;
  transition: all 0.4s ease;
}
.hero-img:hover img {
  transform: translate(-20px, -10px);
}

/* ==================================Players======================== */
.main-container {
  width: 1050px;
  margin: auto;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  margin-top: 70px;
}
.player {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
.player-img img {
  width: 100%;
}
.player-info {
  margin: 16px 0;
}
.player-name {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: #18191f;
}
.player-details {
  margin-top: 10px;
}

/* ==========================Highlight video======================== */
.highlight-container {
  margin-top: 150px;
  margin-bottom: 158px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 70px;
  align-items: center;
}
.highlight-heading {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: #0a0826;
}
.highlight-info {
  line-height: 28px;
  margin-top: 8px;
}
.highlight-content .action-btn {
  margin-top: 24px;
}
.highlight-img img {
  width: 100%;
}

/* ===================================footer=========================== */
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 65px;
}
.footer-logo img {
  width: 450px;
}
.social-media {
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.social-media a {
  width: 32px;
  height: 32px;
  background-color: rgba(11, 13, 23, 0.1);
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media i {
  color: #969bab;
  font-size: 16px;
}
.footer-container p{
  font-size: 18px;
  color: #000000;
}

/* ===============================Responsive======================= */

/* ============================Laptop============================= */

@media only screen and (max-width: 1200px) {
  .header-row {
    width: calc(100% - 100px);
  }
  .hero-container {
    margin-top: 120px;
  }
  .hero-heading {
    font-size: 54px;
  }
  .main-container {
    width: calc(100% - 100px);
  }
  .highlight-heading {
    font-size: 40px;
  }
}

/* ===========================Tablet=============================== */

@media only screen and (max-width: 992px) {
  .header-row {
    width: calc(100% - 80px);
  }
  .hero-container {
    margin-top: 120px;
  }
  .hero-heading {
    font-size: 45px;
  }
 
  .hambar {
    display: block;
  }
  .hambar {
    cursor: pointer;
  }
  .hambar div {
    background-color: #fff;
    width: 30px;
    height: 3px;
    margin: 5px;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  .hambar:hover div {
    background-color: #ca193f;
  }

  .navbar {
    position: relative;
  }

  .nav-links {
    background-color: #3a33a1;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    position: absolute;
    top: 90px;
    right: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease;
    z-index: 10;
  }
  .active {
    height: 50vh;
    padding-left: 40px;
    padding-top: 60px;
  }


  .hero-container {
    grid-column-gap: 10px;
  }
  .main-container {
    width: calc(100% - 80px);
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .highlight-container {
    grid-column-gap: 20px;
  }
}

/* =========================Mobile and Small Tablet ==================== */

@media only screen and (max-width: 668px) {

  .header-row {
    width: calc(100% - 32px);
  }
  header{
    height: fit-content;
    padding-bottom:50px;
  }
  .hero-container{
    margin-top: 80px;
    grid-template-columns: auto;
  }
  .hero-heading {
    font-size: 50px;
  }
  .hero-content .btn{
    margin-bottom:50px;
  }
  .players {
    margin-top: 47px;
    grid-template-columns: auto;
    grid-row-gap: 24px;
  }
  .main-container {
    width: calc(100% - 32px);
  }

  .highlight-container{
    margin-top: 60px;
    grid-template-columns: auto;
  }
  .highlight-content .action-btn {
    margin-top: 24px;
  }
  .highlight-content .action-btn {
    margin-bottom: 29px;
  }
  .footer-container {
    margin-bottom: 147px;
  }
  .footer-logo img {
    max-width: calc(100% - 50px);
  }
  .social-media{
    margin-top: 29px;
  }
}
